.team{
    margin: 75px 0;
}
.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: black;
   font-weight: 200;
   text-transform: uppercase;
}

.container h1{
   font-size: 40px;
   letter-spacing: 0.4rem;
   margin: 0;
}

.container h1 span{
   border: 5px solid black;
   padding: 6px 14px;
   display: inline-block;
}

 .profile{
    margin-top: 25px;
 }
 
 .profile .img-box{
    border:2px solid #fff;
    opacity: 1;
    display: block;
    position: relative;
    box-shadow: 10px 10px 5px #ccc;
 -moz-box-shadow: 10px 10px 5px #ccc;
 -webkit-box-shadow: 10px 10px 5px #ccc;
 -khtml-box-shadow: 10px 10px 5px #ccc;
 }

 .profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
 }

 .img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-45%);
    opacity: 0;
 }

 .img-box ul li{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
 }

 .img-box a{
    color: white;
 }

 .img-box:hover::after{
    opacity: 1;
 }

