body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: system-ui;
}

/* header image */
.hero{
    position: relative;
    height: 230px;
    overflow: hidden;
    background: url("../assets/images/bg-glacier.jpeg") center no-repeat;
    background-image: center no-repeat;
    background-size: cover;
}

#header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

#header h1 {
    font-size: 70px;
    letter-spacing: 0.4rem;
    margin: 0;
}

#header h1 span {
    border-radius: 15px;
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
}

.title {
    margin: 20px;
    display: block;
    font-size: 20px;
    text-shadow: 0 0 10px black;
    color: white;
}

/* header links formatted */
.resources,
.contributors {
    padding: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.1s all;
    text-shadow: 0 0 10px black;

}

/* hover effect for header links */
.resources:hover,
.contributors:hover {
    text-decoration: none;
    color: inherit;
    box-shadow: 0 0 1.5rem white;
    transition: all .1s ease-in-out;
    transform: scale(2.2);
}

/* hides park data before click */
.hide{
    display:none;
}

#map {
    justify-content: right;
    margin: auto;
    margin-right: 60px;
}

/* formats forecast days */
.forecast{
    background-color: #34373474;
    border-radius: 15px;
    color: white;
    margin: 15px;
    padding: 10px;
    display: inline-flex;
}

  /* rounds corners & adds shadow and margin */
#parkdata, #parkinfo, #thingstodo, #contactinfo, #forecast-container{
    border-radius: 15px;
    Box-shadow:0 10px 20px rgba(208, 189, 189, 0.12), 0 6px 6px rgba(123, 118, 118, 0.12);
    margin-bottom: 20px;
}

/* rounds image corners */
img{
    border-radius:15px;
}

/* makes header and data boxes responsive */
@media (max-width: 800px){
    #header, #parkdata, #forecast-container{
        width: 100%;
    }

    #map{
        width: auto !important; 
    }

    #parkinfo, #thingstodo, #contactinfo{
        text-align: center;
    }
}




