body,
html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: system-ui;
}

.hero{
    position: relative;
    height: 230px;
    overflow: hidden;
    background: url("../images/bg-glacier.jpeg") center no-repeat;
    background-image: center no-repeat;
    background-size: cover;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.container h1{
    font-size: 70px;
    letter-spacing: 0.4rem;
    margin: 0;
}

.container h1 span{
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
}

.title{
    margin: 20px;
    display: block;
    font-size: 20px;
    text-shadow: 0 0 10px black;
    color: white;
}

.resources,
.contributors{
    padding: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.1s all;
    text-shadow: 0 0 10px black;

}

.resources:hover,
.contributors:hover{
    text-decoration: none;
    color: inherit;
    box-shadow: 0 0 1.5rem white;
    transition: all .1s ease-in-out;
    transform: scale(2.2);
}

.hide{
    display:none;
}

#map{
    justify-content: right;
    margin: auto;
    margin-right: 60px;
}

.forecast{
    background-color: #34373474;
    border-radius: 15px;
    color: white;
    margin: 15px;
    padding:10px;
    display: inline-flex;
  }

